<div class="alert alert-block alert-success">
    <h1>
        Example notebook - Integrate RDF file
    </h1>
    <p>
        Link to dataset : <a href="TR/owl-guide/wine.rdf">Link to Wine RDF file download</a>
    </p>
</div>

# Import modules and functions

In [1]:
import os
import re
import time
from tqdm.auto import tqdm

from turingdb_examples.graph import split_cypher_commands

/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
%load_ext autoreload
%autoreload 2

# Check data files are available

In [3]:
example_name = "wine_ontology"
path_data = f"{os.getcwd()}/data/{example_name}"
if not os.path.exists(path_data):
    print(f"{path_data} does not exist")
    os.makedirs(path_data)
    print(f"{path_data} folder created âœ”")

list_files = sorted(os.listdir(path_data))
rdf_filename = "wine_ontology.rdf"
if not rdf_filename in list_files:
    print(f"Wine ontology RDF file is not available in {path_data}. \n")
    url_rdf = "https://www.w3.org/TR/owl-guide/wine.rdf"
    print(
        f"Downloading from: {url_rdf}"
        "\n...\n"
    )
    os.system(f"wget {url_rdf} -O {path_data}/{rdf_filename}")

# Load dataset

In [4]:
path_rdf = f"{path_data}/{example_name}.rdf"
path_rdf

'/home/dev/turingdb-examples/examples/notebooks/public_version/data/wine_ontology/wine_ontology.rdf'

# Graph Creation in TuringDB

## Build Cypher CREATE Commands

In [5]:
def sanitize_identifier(s):
    """Sanitize identifiers (labels, relationship types, property names)"""
    if not s:
        return "ID_empty"
    
    # Replace invalid characters with underscores
    s = s.replace('#', '_').replace('-', '_').replace('/', '_').replace('.', '_')
    
    # Prefix with ID_ if starts with digit or underscore
    if s[0].isdigit() or s[0] == '_':
        s = 'ID_' + s
    
    # Remove any other non-alphanumeric characters except underscores
    s = ''.join(c if c.isalnum() or c == '_' else '_' for c in s)
    
    return s


def sanitize_value(s):
    """Sanitize property values (escape quotes)"""
    return s.replace("'", "\\'").replace('"', '\\"')

In [6]:
def owlready_to_cypher(rdf_file, include_blank_nodes=False):
    from owlready2 import get_ontology, ThingClass, Thing, ObjectProperty, DataProperty, sync_reasoner_pellet
    
    onto = get_ontology(f"file://{rdf_file}").load()
    
    # Run reasoner
    try:
        with onto:
            sync_reasoner_pellet(infer_property_values=True, infer_data_property_values=True)
        print("Reasoner completed successfully")
    except Exception as e:
        print(f"Reasoner failed: {e}, continuing without reasoning")
    
    cypher_parts = []
    node_counter = 0
    node_to_var = {}
    
    def get_var(uri):
        nonlocal node_counter
        if uri not in node_to_var:
            node_to_var[uri] = f"n{node_counter}"
            node_counter += 1
        return node_to_var[uri]
    
    def get_most_generic_parent(cls):
        """Get the most generic non-Thing parent"""
        ancestors = [a for a in cls.ancestors() 
                    if isinstance(a, ThingClass) 
                    and a.name != 'Thing'
                    and a != cls]
        return ancestors[-1] if ancestors else cls
    
    # First pass: collect all nodes that will be created
    valid_nodes = set()
    node_parts = []
    
    # Add all classes
    for cls in onto.classes():
        if cls.name != 'Thing':
            valid_nodes.add(cls.iri)
    
    # Add all properties
    for prop in onto.properties():
        valid_nodes.add(prop.iri)
    
    # Add all individuals
    for ind in onto.individuals():
        valid_nodes.add(ind.iri)
    
    # Create nodes for all classes
    for cls in onto.classes():
        if cls.name == 'Thing':
            continue
        
        var = get_var(cls.iri)
        root = get_most_generic_parent(cls)
        label = sanitize_identifier(root.name)
        name = cls.name
        
        # Build properties
        props = [
            f"uri: '{sanitize_value(cls.iri)}'",
            f"name: '{sanitize_value(name)}'",
            f"type: 'Class'"
        ]
        
        # Add direct parent names (only those in valid_nodes)
        direct_parents = [p.name for p in cls.is_a 
                         if isinstance(p, ThingClass) 
                         and p.name != 'Thing'
                         and p.iri in valid_nodes]
        if direct_parents:
            props.append(f"parents: '{sanitize_value(', '.join(direct_parents))}'")
        
        # Add comment if exists
        if hasattr(cls, 'comment') and cls.comment:
            comment = cls.comment[0] if isinstance(cls.comment, list) else cls.comment
            props.append(f"comment: '{sanitize_value(str(comment))}'")
        
        # Add label if exists
        if hasattr(cls, 'label') and cls.label:
            lbl = cls.label[0] if isinstance(cls.label, list) else cls.label
            props.append(f"rdfs_label: '{sanitize_value(str(lbl))}'")
        
        node_parts.append(f"({var}:{label} {{{', '.join(props)}}})")
    
    # Create nodes for properties
    for prop in onto.properties():
        prop_var = get_var(prop.iri)
        prop_type = "ObjectProperty" if isinstance(prop, ObjectProperty) else "DataProperty"
        
        props_list = [
            f"uri: '{sanitize_value(prop.iri)}'",
            f"name: '{sanitize_value(prop.name)}'",
            f"type: 'Property'",
            f"property_type: '{prop_type}'"
        ]
        
        node_parts.append(f"({prop_var}:Property {{{', '.join(props_list)}}})")
    
    # Add all node creation as a single CREATE statement
    cypher_parts.append("CREATE " + ",\n".join(node_parts))
    
    # Track added edges to avoid duplicates
    added_edges = set()
    edge_parts = []
    
    # Create subClassOf relationships (only for valid nodes)
    for cls in onto.classes():
        if cls.name == 'Thing':
            continue
        
        s_uri = cls.iri
        
        for parent in cls.is_a:
            if isinstance(parent, ThingClass) and parent.name != 'Thing' and parent.iri in valid_nodes:
                o_uri = parent.iri
                edge_key = (s_uri, 'subClassOf', o_uri)
                
                if edge_key not in added_edges:
                    edge_parts.append(
                        f"MATCH (a {{uri: '{sanitize_value(s_uri)}'}}), (b {{uri: '{sanitize_value(o_uri)}'}}) "
                        f"CREATE (a)-[:subClassOf]->(b)"
                    )
                    added_edges.add(edge_key)
    
    # Add domain relationships (only for valid nodes)
    for prop in onto.properties():
        prop_uri = prop.iri
        
        if hasattr(prop, 'domain') and prop.domain:
            domains = prop.domain if isinstance(prop.domain, list) else [prop.domain]
            for domain in domains:
                if isinstance(domain, ThingClass) and domain.name != 'Thing' and domain.iri in valid_nodes:
                    domain_uri = domain.iri
                    edge_key = (domain_uri, 'hasDomain', prop_uri)
                    
                    if edge_key not in added_edges:
                        edge_parts.append(
                            f"MATCH (a {{uri: '{sanitize_value(domain_uri)}'}}), (b {{uri: '{sanitize_value(prop_uri)}'}}) "
                            f"CREATE (a)-[:hasDomain]->(b)"
                        )
                        added_edges.add(edge_key)
        
        # Add range relationships (only for valid nodes)
        if hasattr(prop, 'range') and prop.range:
            ranges = prop.range if isinstance(prop.range, list) else [prop.range]
            for rng in ranges:
                if isinstance(rng, ThingClass) and rng.name != 'Thing' and rng.iri in valid_nodes:
                    range_uri = rng.iri
                    edge_key = (prop_uri, 'hasRange', range_uri)
                    
                    if edge_key not in added_edges:
                        edge_parts.append(
                            f"MATCH (a {{uri: '{sanitize_value(prop_uri)}'}}), (b {{uri: '{sanitize_value(range_uri)}'}}) "
                            f"CREATE (a)-[:hasRange]->(b)"
                        )
                        added_edges.add(edge_key)
    
    # Handle individuals (only for valid nodes)
    for ind in onto.individuals():
        s_uri = ind.iri
        
        for prop in ind.get_properties():
            values = getattr(ind, prop.name, [])
            if not isinstance(values, list):
                values = [values]
            
            for value in values:
                if isinstance(value, Thing) and value.iri in valid_nodes:
                    o_uri = value.iri
                    pred = sanitize_identifier(prop.name)
                    edge_key = (s_uri, pred, o_uri)
                    
                    if edge_key not in added_edges:
                        edge_parts.append(
                            f"MATCH (a {{uri: '{sanitize_value(s_uri)}'}}), (b {{uri: '{sanitize_value(o_uri)}'}}) "
                            f"CREATE (a)-[:{pred}]->(b)"
                        )
                        added_edges.add(edge_key)
    
    # Add all edge creation statements
    cypher_parts.extend(edge_parts)
    
    return "\n".join(cypher_parts)

In [7]:
%%time

graph_CREATE_command_owlready = owlready_to_cypher(path_rdf, include_blank_nodes=True)

# Save Cypher query to file
with open(f"{path_data}/{example_name}_owlready.cypher", "w") as f:
    f.write(graph_CREATE_command_owlready)

graph_CREATE_command = graph_CREATE_command_owlready

print(f"""
Cypher CREATE command :
* size: {len(graph_CREATE_command.encode('utf-8'))/1024/1000:.4f} MB\n
{100 * '*'}
{graph_CREATE_command if len(graph_CREATE_command.split("\n")) < 10000 else "\n".join(graph_CREATE_command.split('\n')[:5]) + "\n...\n" + "\n".join(graph_CREATE_command.split('\n')[-5:])}
{100 * '*'}
""")

* Owlready2 * Running Pellet...
    java -Xmx2000M -cp /home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/antlr-3.2.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jena-core-2.10.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/owlapi-distribution-3.4.3-bin.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/xercesImpl-2.10.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/xml-apis-1.4.01.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jena-arq-2.10.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/slf4j-log4j12-1.6.4.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jgrapht-jdk1.5.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/log4j-core-2.19.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/aterm-java-1.6.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/log4j-1.2-api-2.19.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/httpcore-4.2.2.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jena-tdb-0.10.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/log4j-api-2.19.0.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/slf4j-api-1.6.4.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/httpclient-4.2.3.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jena-iri-0.9.5.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/jcl-over-slf4j-1.6.4.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/antlr-runtime-3.2.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/pellet-2.3.1.jar:/home/dev/turingdb-examples/.venv/lib/python3.13/site-packages/owlready2/pellet/commons-codec-1.6.jar pellet.Pellet realize --loader Jena --input-format N-Triples --infer-prop-values --infer-data-prop-values --ignore-imports /tmp/tmp71bebayf

Reasoner completed successfully

Cypher CREATE command :
* size: 0.0386 MB

****************************************************************************************************
CREATE (n0:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine', name: 'Wine', type: 'Class', rdfs_label: 'wine'}),
(n1:Winery {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Winery', name: 'Winery', type: 'Class'}),
(n2:Vintage {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Vintage', name: 'Vintage', type: 'Class'}),
(n3:Grape {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineGrape', name: 'WineGrape', type: 'Class'}),
(n4:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteWine', name: 'WhiteWine', type: 'Class', parents: 'Wine'}),
(n5:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteTableWine', name: 'WhiteTableWine', type: 'Class', parents: 'DryWine, TableWine, WhiteNonSweetWine'}),
(n6:DryWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##TableWine', name: 'TableWine', type: 'Class', parents: 'Wine'}),
(n7:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteNonSweetWine', name: 'WhiteNonSweetWine', type: 'Class', parents: 'WhiteWine'}),
(n8:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteLoire', name: 'WhiteLoire', type: 'Class', parents: 'Loire, WhiteWine'}),
(n9:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Loire', name: 'Loire', type: 'Class', parents: 'Wine'}),
(n10:Chardonnay {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBurgundy', name: 'WhiteBurgundy', type: 'Class', parents: 'Burgundy, DryWhiteWine, WhiteTableWine, Chardonnay'}),
(n11:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Burgundy', name: 'Burgundy', type: 'Class', parents: 'DryWine, TableWine'}),
(n12:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBordeaux', name: 'WhiteBordeaux', type: 'Class', parents: 'Bordeaux, SemillonOrSauvignonBlanc'}),
(n13:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Bordeaux', name: 'Bordeaux', type: 'Class', parents: 'Wine'}),
(n14:Region {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Region', name: 'Region', type: 'Class'}),
(n15:VintageYear {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##VintageYear', name: 'VintageYear', type: 'Class'}),
(n16:WineDescriptor {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineDescriptor', name: 'WineDescriptor', type: 'Class', comment: 'Made WineDescriptor unionType of tastes and color'}),
(n17:WineTaste {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineSugar', name: 'WineSugar', type: 'Class', parents: 'WineTaste'}),
(n18:WineBody {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineBody', name: 'WineBody', type: 'Class', parents: 'WineTaste'}),
(n19:WineTaste {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineFlavor', name: 'WineFlavor', type: 'Class', parents: 'WineTaste'}),
(n20:WineDescriptor {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineColor', name: 'WineColor', type: 'Class', parents: 'WineDescriptor'}),
(n21:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Zinfandel', name: 'Zinfandel', type: 'Class', parents: 'DryRedWine, RedTableWine'}),
(n22:WineDescriptor {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineTaste', name: 'WineTaste', type: 'Class', parents: 'WineDescriptor'}),
(n23:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Tours', name: 'Tours', type: 'Class', parents: 'WhiteLoire, CheninBlanc'}),
(n24:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetWine', name: 'SweetWine', type: 'Class', parents: 'Wine'}),
(n25:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetRiesling', name: 'SweetRiesling', type: 'Class', parents: 'DessertWine, FullBodiedWine, SweetWine, Riesling'}),
(n26:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DessertWine', name: 'DessertWine', type: 'Class', parents: 'Wine'}),
(n27:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Riesling', name: 'Riesling', type: 'Class', parents: 'WhiteWine'}),
(n28:Bordeaux {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##StEmilion', name: 'StEmilion', type: 'Class', parents: 'RedBordeaux, CabernetSauvignon'}),
(n29:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SemillonOrSauvignonBlanc', name: 'SemillonOrSauvignonBlanc', type: 'Class', parents: 'WhiteWine'}),
(n30:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Semillon', name: 'Semillon', type: 'Class', parents: 'SemillonOrSauvignonBlanc'}),
(n31:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SauvignonBlanc', name: 'SauvignonBlanc', type: 'Class', parents: 'SemillonOrSauvignonBlanc'}),
(n32:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Sauternes', name: 'Sauternes', type: 'Class', parents: 'LateHarvest, WhiteBordeaux, Bordeaux'}),
(n33:SweetWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##LateHarvest', name: 'LateHarvest', type: 'Class', parents: 'SweetWine, Wine'}),
(n34:SauvignonBlanc {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Sancerre', name: 'Sancerre', type: 'Class', parents: 'WhiteLoire, SauvignonBlanc, WhiteNonSweetWine'}),
(n35:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RoseWine', name: 'RoseWine', type: 'Class', parents: 'Wine'}),
(n36:Wine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RedWine', name: 'RedWine', type: 'Class', parents: 'Wine'}),
(n37:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RedTableWine', name: 'RedTableWine', type: 'Class', parents: 'RedWine, DryWine, TableWine'}),
(n38:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RedBurgundy', name: 'RedBurgundy', type: 'Class', parents: 'PinotNoir, DryRedWine, RedTableWine, Burgundy'}),
(n39:Bordeaux {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RedBordeaux', name: 'RedBordeaux', type: 'Class', parents: 'Bordeaux, RedWine'}),
(n40:SweetWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Port', name: 'Port', type: 'Class', parents: 'RedWine, FullBodiedWine, SweetWine'}),
(n41:RedWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##PinotNoir', name: 'PinotNoir', type: 'Class', parents: 'RedWine'}),
(n42:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##PinotBlanc', name: 'PinotBlanc', type: 'Class', parents: 'WhiteWine'}),
(n43:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##PetiteSyrah', name: 'PetiteSyrah', type: 'Class', parents: 'DryRedWine, RedTableWine'}),
(n44:Bordeaux {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Pauillac', name: 'Pauillac', type: 'Class', parents: 'Medoc, FullBodiedWine, CabernetSauvignon'}),
(n45:Bordeaux {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Medoc', name: 'Medoc', type: 'Class', parents: 'RedBordeaux, DryRedWine, RedTableWine'}),
(n46:PinotBlanc {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Muscadet', name: 'Muscadet', type: 'Class', parents: 'WhiteLoire, DryWhiteWine, WhiteTableWine, PinotBlanc'}),
(n47:Chardonnay {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Meursault', name: 'Meursault', type: 'Class', parents: 'FullBodiedWine, WhiteBurgundy'}),
(n48:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Merlot', name: 'Merlot', type: 'Class', parents: 'DryRedWine, RedTableWine'}),
(n49:RedWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Meritage', name: 'Meritage', type: 'Class', parents: 'RedWine'}),
(n50:Merlot {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Margaux', name: 'Margaux', type: 'Class', parents: 'Medoc, Merlot'}),
(n51:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##EarlyHarvest', name: 'EarlyHarvest', type: 'Class', parents: 'Wine'}),
(n52:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##ItalianWine', name: 'ItalianWine', type: 'Class', parents: 'Wine'}),
(n53:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##IceWine', name: 'IceWine', type: 'Class', parents: 'DessertWine, LateHarvest, WhiteWine'}),
(n54:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##GermanWine', name: 'GermanWine', type: 'Class', parents: 'Wine'}),
(n55:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Gamay', name: 'Gamay', type: 'Class', parents: 'Wine'}),
(n56:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##FullBodiedWine', name: 'FullBodiedWine', type: 'Class', parents: 'Wine'}),
(n57:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##FrenchWine', name: 'FrenchWine', type: 'Class', parents: 'Wine'}),
(n58:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryWine', name: 'DryWine', type: 'Class', parents: 'Wine'}),
(n59:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryWhiteWine', name: 'DryWhiteWine', type: 'Class', parents: 'DryWine, TableWine, WhiteNonSweetWine'}),
(n60:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryRiesling', name: 'DryRiesling', type: 'Class', parents: 'DryWhiteWine, WhiteTableWine, Riesling'}),
(n61:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryRedWine', name: 'DryRedWine', type: 'Class', parents: 'RedWine, DryWine, TableWine'}),
(n62:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CotesDOr', name: 'CotesDOr', type: 'Class', parents: 'RedBurgundy'}),
(n63:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Chianti', name: 'Chianti', type: 'Class', parents: 'ItalianWine, DryRedWine, RedTableWine'}),
(n64:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CheninBlanc', name: 'CheninBlanc', type: 'Class', parents: 'WhiteNonSweetWine'}),
(n65:WhiteWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Chardonnay', name: 'Chardonnay', type: 'Class', parents: 'WhiteWine'}),
(n66:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CaliforniaWine', name: 'CaliforniaWine', type: 'Class', parents: 'Wine'}),
(n67:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##TexasWine', name: 'TexasWine', type: 'Class', parents: 'Wine'}),
(n68:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CabernetSauvignon', name: 'CabernetSauvignon', type: 'Class', parents: 'DryRedWine, RedTableWine'}),
(n69:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CabernetFranc', name: 'CabernetFranc', type: 'Class', parents: 'DryRedWine, RedTableWine'}),
(n70:TableWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Beaujolais', name: 'Beaujolais', type: 'Class', parents: 'Gamay, DryRedWine, RedTableWine'}),
(n71:RoseWine {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Anjou', name: 'Anjou', type: 'Class', parents: 'Loire, RoseWine'}),
(n72:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##AmericanWine', name: 'AmericanWine', type: 'Class', parents: 'Wine'}),
(n73:PotableLiquid {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##AlsatianWine', name: 'AlsatianWine', type: 'Class', parents: 'Wine'}),
(n74:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##yearValue', name: 'yearValue', type: 'Property', property_type: 'DataProperty'}),
(n75:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasMaker', name: 'hasMaker', type: 'Property', property_type: 'DataProperty'}),
(n76:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##madeFromGrape', name: 'madeFromGrape', type: 'Property', property_type: 'DataProperty'}),
(n77:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasSugar', name: 'hasSugar', type: 'Property', property_type: 'DataProperty'}),
(n78:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasFlavor', name: 'hasFlavor', type: 'Property', property_type: 'DataProperty'}),
(n79:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasBody', name: 'hasBody', type: 'Property', property_type: 'DataProperty'}),
(n80:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasColor', name: 'hasColor', type: 'Property', property_type: 'DataProperty'}),
(n81:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##locatedIn', name: 'locatedIn', type: 'Property', property_type: 'DataProperty'}),
(n82:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasVintageYear', name: 'hasVintageYear', type: 'Property', property_type: 'DataProperty'}),
(n83:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##adjacentRegion', name: 'adjacentRegion', type: 'Property', property_type: 'DataProperty'}),
(n84:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##madeIntoWine', name: 'madeIntoWine', type: 'Property', property_type: 'DataProperty'}),
(n85:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##hasWineDescriptor', name: 'hasWineDescriptor', type: 'Property', property_type: 'DataProperty'}),
(n86:Property {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##producesWine', name: 'producesWine', type: 'Property', property_type: 'DataProperty'})
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteTableWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteTableWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##TableWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteTableWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteNonSweetWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##TableWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteNonSweetWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteLoire'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Loire'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteLoire'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Loire'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBurgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Burgundy'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBurgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryWhiteWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBurgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteTableWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBurgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Chardonnay'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Burgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Burgundy'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##TableWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBordeaux'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Bordeaux'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteBordeaux'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SemillonOrSauvignonBlanc'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Bordeaux'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineSugar'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineTaste'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineBody'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineTaste'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineFlavor'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineTaste'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineColor'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineDescriptor'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Zinfandel'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DryRedWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Zinfandel'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##RedTableWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineTaste'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WineDescriptor'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Tours'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##WhiteLoire'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Tours'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##CheninBlanc'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetWine'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Wine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetRiesling'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##DessertWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetRiesling'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##FullBodiedWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetRiesling'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetWine'}) CREATE (a)-[:subClassOf]->(b)
MATCH (a {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##SweetRiesling'}), (b {uri: 'http://www.w3.org/TR/2003/PR-owl-guide-20031209/wine##Riesling'}) CREATE (a)-[:subClassOf]->(b)

* Owlready2 * Pellet took 1.3942646980285645 seconds
* Owlready * (NB: only changes on entities loaded in Python are shown, other changes are done but not listed)

## Split command into chunks

In [8]:
%%time

chunks = split_cypher_commands(graph_CREATE_command, max_size_mb=1)

print(f"âœ“ Split into {len(chunks['node_chunks'])} node chunk(s) and {len(chunks['edge_chunks'])} edge chunk(s)")

print("\nNode chunks:")
for i, chunk in enumerate(chunks['node_chunks']):
    print(f"  Node chunk {i+1}: {len(chunk.encode('utf-8'))/1024:.1f} KB")
    if i == 10:
        print("  ...")
        break

print("\nEdge chunks:")
for i, chunk in enumerate(chunks['edge_chunks']):
    print(f"  Edge chunk {i+1}: {len(chunk.encode('utf-8'))/1024:.1f} KB")
    if i == 10:
        print("  ...")
        break

âœ“ Split into 1 node chunk(s) and 135 edge chunk(s)

Node chunks:
  Node chunk 1: 13.3 KB

Edge chunks:
  Edge chunk 1: 0.2 KB
  Edge chunk 2: 0.2 KB
  Edge chunk 3: 0.2 KB
  Edge chunk 4: 0.2 KB
  Edge chunk 5: 0.2 KB
  Edge chunk 6: 0.2 KB
  Edge chunk 7: 0.2 KB
  Edge chunk 8: 0.2 KB
  Edge chunk 9: 0.2 KB
  Edge chunk 10: 0.2 KB
  Edge chunk 11: 0.2 KB
  ...
CPU times: user 967 Î¼s, sys: 0 ns, total: 967 Î¼s
Wall time: 954 Î¼s

# Create graph using `turingdb` python package

<div class="alert alert-block alert-info">
    <h2>
        See <a href="https://docs.turingdb.ai/quickstart">TuringDB Get started documentation</a> for the important steps to follow :
    </h2>
    <h3>
        <ul>
            <li>Create your TuringDB account</li>
            <li>Create your instance in the <a href="https://console.turingdb.ai/auth">TuringDB Cloud UI</a></li>
            <li>Copy your Instance ID from the Database Instances management page</li>
            <li>Get API Key from the Settings in UI</li>
        </ul>
        Remember to have your instance active while working in this notebook !
    </h3>
</div>

In [9]:
from turingdb import TuringDB

# Create TuringDB client
# set host parameter to the URL (as string) on which TuringDB is running,
# default "http://localhost:6666"
client = TuringDB(host="http://localhost:6666")
try:
    client.warmup()
except Exception as e:
    print(f"TuringDB not started, please run `uv run turingdb` in your terminal")

In [10]:
# Get list of available graphs
list_graphs = client.list_available_graphs()

In [11]:
client.list_loaded_graphs()

['reactome1_subgraph',
 'paysim_financial_fraud_detection1',
 'crypto_orbitaal_fraud_detection1',
 'healthcare_dataset1_subgraph',
 'supply_chain_eto_chip_explorer1',
 'healthcare_dataset1',
 'supply_chain_eto_chip_explorer1_subgraph',
 'citeab_antibody1',
 'london_transport_TfL1_subgraph',
 'reactome1',
 'london_transport_TfL1',
 'default']

In [12]:
# Set graph name
graph_name_prefix = example_name
graph_name_nb_suffix = str(
    max(
        [
            int(re.sub(graph_name_prefix, "", g))
            for g in list_graphs
            if g.startswith(graph_name_prefix)
            and re.sub(graph_name_prefix, "", g).isdigit()
        ]
        + [0]
    )
    + 1
)
graph_name = graph_name_prefix + graph_name_nb_suffix
graph_name = re.sub("-", "_", graph_name)
print(f"graph_name: {graph_name}")

graph_name: wine_ontology1

In [13]:
from turingdb.exceptions import TuringDBException

In [14]:
%%time

# Set graph
try:
    client.create_graph(graph_name)
except TuringDBException as e:
    print(e)

# Set working graph
client.set_graph(graph_name)

CPU times: user 1.62 ms, sys: 0 ns, total: 1.62 ms
Wall time: 9.96 ms

In [15]:
%%time

# Create a new change on the graph
client.checkout()
change = client.new_change()
print(f"Current change {change}")

# Checkout into the change
client.checkout(change=change)

Current change 0
CPU times: user 1.33 ms, sys: 25 Î¼s, total: 1.36 ms
Wall time: 1.35 ms

In [16]:
%%time

# Run CREATE command
print("\nExecuting query on TuringDB...")
start_time = time.time()

print(f"âœ“ Split into {len(chunks['node_chunks'])} node chunk(s) and {len(chunks['edge_chunks'])} edge chunk(s)")

# CREATE nodes
print("\nNode chunks:")
for i, chunk in enumerate(tqdm(chunks['node_chunks'])):
    result = client.query(chunk)
# Commit the change
client.query("COMMIT")
print(f"âœ“ {len(chunks['node_chunks'])} node chunks done")

# CREATE edges
print("\nEdge chunks:")
for i, chunk in enumerate(tqdm(chunks['edge_chunks'])):
    result = client.query(chunk)
# Commit the change
client.query("COMMIT")
print(f"âœ“ {len(chunks['edge_chunks'])} edge chunks done")

execution_time = time.time() - start_time
print(f"\nâœ“ Graph created successfully in {execution_time:.2f} seconds")

# Submit changes
start_time = time.time()
client.query("CHANGE SUBMIT")
execution_time = time.time() - start_time
print(f"\nâœ“ Changes successfully submitted in {execution_time:.2f} seconds")

# Checkout into main
client.checkout()

Executing query on TuringDB...
âœ“ Split into 1 node chunk(s) and 135 edge chunk(s)

Node chunks:

  0%|          | 0/1 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 235.41it/s]

âœ“ 1 node chunks done

Edge chunks:

  0%|          | 0/135 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 135/135 [00:00<00:00, 1460.48it/s]

âœ“ 135 edge chunks done

âœ“ Graph created successfully in 0.11 seconds

âœ“ Changes successfully submitted in 0.06 seconds
CPU times: user 98.7 ms, sys: 6.05 ms, total: 105 ms
Wall time: 161 ms

In [17]:
# Returns the commit history
client.query("CALL db.history()")

             commit  nodeCount  edgeCount  partCount
0  893b6e84b003b726          0          0          0
1  bd5b18630474b3a3         87          0          1
2  655b98a4354fdadf          0        135          1
3  35d14ddc05f632c6          0          0          0

<div class="alert alert-block alert-info">
    <h2>
        Visualize your graph in TuringDB Graph Visualizer ! Now that your instance is running:
    </h2>
    <h3>
        <ul>
            <li>Go to <a href="https://console.turingdb.ai/databases">TuringDB Console - Database Instances</a></li>
            <li>In your current instance panel, click on "Open Visualizer" button</li>
            <li>Visualizer opens, now you can choose your graph in the dropdown menu at the top-right corner</li>
        </ul>
        You can then play with your graph and visualize the nodes you want !
    </h3>
</div>

# Query TuringDB

## Use metaqueries to have insight on graph overall structure

<h3>
    To learn more about ðŸ“® Metaqueries, please check TuringDB documentation on this <a href="https://turingdb.mintlify.app/query/cypher_subset#%F0%9F%93%AE-metaqueries">link</a>
</h3>

In [18]:
%%time

# CALL propertyTypes() - returns a column of all the different node and edge properties and their types in the database
command = """
CALL db.propertyTypes()
"""
df_propertyTypes = client.query(command)
if df_propertyTypes.empty:
    print("No result found")
else:
    display(df_propertyTypes)

  id   propertyType valueType
0  0     rdfs_label    String
1  1           type    String
2  2           name    String
3  3            uri    String
4  4        parents    String
5  5        comment    String
6  6  property_type    String

CPU times: user 3.5 ms, sys: 39 Î¼s, total: 3.53 ms
Wall time: 3.51 ms

In [19]:
# Get node properties
nodes_properties = df_propertyTypes["propertyType"].values.tolist()
print(f"Node properties: {nodes_properties}")

Node properties: ['rdfs_label', 'type', 'name', 'uri', 'parents', 'comment', 'property_type']

In [20]:
%%time

# CALL labels () - returns a column of all the different node labels
command = """
CALL db.labels()
"""
df_labels = client.query(command)
if df_labels.empty:
    print("No result found")
else:
    display(df_labels)

    id           label
0    0   PotableLiquid
1    1          Winery
2    2         Vintage
3    3           Grape
4    4       WhiteWine
5    5         DryWine
6    6      Chardonnay
7    7       TableWine
8    8          Region
9    9     VintageYear
10  10  WineDescriptor
11  11       WineTaste
12  12        WineBody
13  13        Bordeaux
14  14       SweetWine
15  15  SauvignonBlanc
16  16            Wine
17  17         RedWine
18  18      PinotBlanc
19  19          Merlot
20  20        RoseWine
21  21        Property

CPU times: user 3.4 ms, sys: 32 Î¼s, total: 3.43 ms
Wall time: 3.41 ms

In [21]:
%%time

# CALL edgeTypes() - returns a column of all the different edge types (edge equivalent of node labels)
command = """
CALL db.edgeTypes()
"""
df_edgeTypes = client.query(command)
if df_edgeTypes.empty:
    print("No result found")
else:
    display(df_edgeTypes)

   id    edgeType
0   0  subClassOf
1   1   hasDomain
2   2    hasRange

CPU times: user 2.92 ms, sys: 0 ns, total: 2.92 ms
Wall time: 2.89 ms

## Counts

In [22]:
%%time

# Find number of nodes and number of edges in the graph
n_nodes = len(client.query("MATCH (n) RETURN n"))
n_edges = len(client.query("MATCH (n)-->(m) RETURN n, m"))
print(f"Graph: {n_nodes:,} nodes and {n_edges:,} edges\n")

Graph: 87 nodes and 135 edges

CPU times: user 2.13 ms, sys: 11 Î¼s, total: 2.14 ms
Wall time: 2.14 ms

In [23]:
%%time

# Count all nodes
command = """
MATCH (n)
RETURN COUNT(n)
"""
df_count_nodes = client.query(command)
display(df_count_nodes)

# Count all edges
command = """
MATCH (n)-->()
RETURN COUNT(n)
"""
df_count_edges = client.query(command)
display(df_count_edges)

# Find number of nodes and number of edges in the graph
n_nodes = int(df_count_nodes.loc[0, "COUNT(n)"])
n_edges = int(df_count_edges.loc[0, "COUNT(n)"])
print(f"Graph: {n_nodes:,} nodes and {n_edges:,} edges\n")

   COUNT(n)
0        87

   COUNT(n)
0       135

Graph: 87 nodes and 135 edges

CPU times: user 6.21 ms, sys: 18 Î¼s, total: 6.23 ms
Wall time: 5.99 ms

In [24]:
# Count number of nodes for each label
for label in df_labels["label"]:
    print(100 * '-')
    print(f"label: {label}")
    df_curr_label = client.query(f"""
    MATCH (n:{label})
    RETURN n.name
    """)
    df_curr_label_count = client.query(f"""
    MATCH (n:{label})
    RETURN count(n)
    """)
    display(df_curr_label)
    display(df_curr_label_count)
    
    print()
print(100 * '-')

----------------------------------------------------------------------------------------------------
label: PotableLiquid

            n.name
0     EarlyHarvest
1      ItalianWine
2       GermanWine
3            Gamay
4   FullBodiedWine
5       FrenchWine
6         RoseWine
7      DessertWine
8        SweetWine
9   CaliforniaWine
10       TexasWine
11    AmericanWine
12        Bordeaux
13            Wine
14    AlsatianWine
15           Loire
16       WhiteWine

   count(n)
0        17

----------------------------------------------------------------------------------------------------
label: Winery

   n.name
0  Winery

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Vintage

    n.name
0  Vintage

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Grape

      n.name
0  WineGrape

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: WhiteWine

                      n.name
0                    IceWine
1                 PinotBlanc
2             WhiteTableWine
3               DryWhiteWine
4                DryRiesling
5                  Sauternes
6             SauvignonBlanc
7                   Semillon
8   SemillonOrSauvignonBlanc
9                   Riesling
10         WhiteNonSweetWine
11             SweetRiesling
12                WhiteLoire
13                     Tours
14             WhiteBordeaux
15               CheninBlanc
16                Chardonnay

   count(n)
0        17

----------------------------------------------------------------------------------------------------
label: DryWine

      n.name
0  TableWine

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Chardonnay

          n.name
0      Meursault
1  WhiteBurgundy

   count(n)
0         2

----------------------------------------------------------------------------------------------------
label: TableWine

               n.name
0              Merlot
1          Beaujolais
2       CabernetFranc
3   CabernetSauvignon
4             Chianti
5             DryWine
6          DryRedWine
7            CotesDOr
8            Burgundy
9           Zinfandel
10       RedTableWine
11        PetiteSyrah
12        RedBurgundy

   count(n)
0        13

----------------------------------------------------------------------------------------------------
label: Region

   n.name
0  Region

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: VintageYear

        n.name
0  VintageYear

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: WineDescriptor

           n.name
0       WineTaste
1       WineColor
2  WineDescriptor

   count(n)
0         3

----------------------------------------------------------------------------------------------------
label: WineTaste

       n.name
0  WineFlavor
1   WineSugar

   count(n)
0         2

----------------------------------------------------------------------------------------------------
label: WineBody

     n.name
0  WineBody

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Bordeaux

        n.name
0  RedBordeaux
1     Pauillac
2    StEmilion
3        Medoc

   count(n)
0         4

----------------------------------------------------------------------------------------------------
label: SweetWine

        n.name
0         Port
1  LateHarvest

   count(n)
0         2

----------------------------------------------------------------------------------------------------
label: SauvignonBlanc

     n.name
0  Sancerre

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Wine

    n.name
0  RedWine

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: RedWine

      n.name
0  PinotNoir
1   Meritage

   count(n)
0         2

----------------------------------------------------------------------------------------------------
label: PinotBlanc

     n.name
0  Muscadet

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Merlot

    n.name
0  Margaux

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: RoseWine

  n.name
0  Anjou

   count(n)
0         1

----------------------------------------------------------------------------------------------------
label: Property

               n.name
0           yearValue
1            hasMaker
2       madeFromGrape
3            hasSugar
4           hasFlavor
5             hasBody
6            hasColor
7           locatedIn
8      hasVintageYear
9      adjacentRegion
10       madeIntoWine
11  hasWineDescriptor
12       producesWine

   count(n)
0        13

----------------------------------------------------------------------------------------------------

## Queries

In [25]:
%%time

# Match all edges and return them
command = """
MATCH (n)-[e]->(m)
RETURN n.name, n.type, e, m.name, m.type
"""
df_all_edges = client.query(command)
if df_all_edges.empty:
    print("No result found")
else:
    display(df_all_edges)

                n.name    n.type    e          m.name m.type
0         EarlyHarvest     Class    0            Wine  Class
1          ItalianWine     Class    1            Wine  Class
2           GermanWine     Class    2            Wine  Class
3                Gamay     Class    3            Wine  Class
4       FullBodiedWine     Class    4            Wine  Class
..                 ...       ...  ...             ...    ...
130           hasColor  Property  130       WineColor  Class
131          locatedIn  Property  131          Region  Class
132     hasVintageYear  Property  132     VintageYear  Class
133     adjacentRegion  Property  133          Region  Class
134  hasWineDescriptor  Property  134  WineDescriptor  Class

[135 rows x 5 columns]

CPU times: user 3.55 ms, sys: 1.96 ms, total: 5.51 ms
Wall time: 5.48 ms

In [26]:
%%time

# 1. Get all wine types (classes that are subclasses of Wine/PotableLiquid)
command = """
MATCH (wine:PotableLiquid)
WHERE wine.type = 'Class'
RETURN wine.name, wine.parents
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

         wine.name wine.parents
0     EarlyHarvest         Wine
1      ItalianWine         Wine
2       GermanWine         Wine
3            Gamay         Wine
4   FullBodiedWine         Wine
5       FrenchWine         Wine
6         RoseWine         Wine
7      DessertWine         Wine
8        SweetWine         Wine
9   CaliforniaWine         Wine
10       TexasWine         Wine
11    AmericanWine         Wine
12        Bordeaux         Wine
13            Wine         <NA>
14    AlsatianWine         Wine
15           Loire         Wine
16       WhiteWine         Wine

CPU times: user 3.19 ms, sys: 17 Î¼s, total: 3.2 ms
Wall time: 3.17 ms

In [27]:
%%time

# 2. Find all properties and their domains/ranges
command = """
MATCH (domain)-[:hasDomain]->(prop:Property)-[:hasRange]->(range)
RETURN domain.name, prop.name, prop.property_type, range.name
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

  domain.name          prop.name prop.property_type      range.name
0        Wine  hasWineDescriptor       DataProperty  WineDescriptor
1        Wine      madeFromGrape       DataProperty       WineGrape
2        Wine           hasColor       DataProperty       WineColor
3     Vintage     hasVintageYear       DataProperty     VintageYear
4      Region     adjacentRegion       DataProperty          Region

CPU times: user 3.77 ms, sys: 0 ns, total: 3.77 ms
Wall time: 3.68 ms

In [28]:
%%time

# 3. Get the complete class hierarchy for a specific wine (e.g., Chardonnay)
command = """
MATCH (leaf)-[:subClassOf]->(root)
WHERE leaf.name = 'Chardonnay'
RETURN leaf.name, root.name
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

    leaf.name  root.name
0  Chardonnay  WhiteWine

CPU times: user 2.72 ms, sys: 70 Î¼s, total: 2.79 ms
Wall time: 2.76 ms

In [29]:
%%time

# 4. Find all red wines (wines that are subclass of RedWine)
command = """
MATCH (wine)-[:subClassOf]->(parent)
WHERE parent.name = 'RedWine'
RETURN wine.name, wine.parents
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

      wine.name                        wine.parents
0    DryRedWine         RedWine, DryWine, TableWine
1  RedTableWine         RedWine, DryWine, TableWine
2   RedBordeaux                   Bordeaux, RedWine
3          Port  RedWine, FullBodiedWine, SweetWine
4     PinotNoir                             RedWine
5      Meritage                             RedWine

CPU times: user 2.83 ms, sys: 82 Î¼s, total: 2.91 ms
Wall time: 2.88 ms

In [30]:
%%time

# 5. Find all direct children of Wine class
command = """
MATCH (child)-[:subClassOf]->(parent)
WHERE parent.name = 'Wine'
RETURN child.name, child.type
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

        child.name child.type
0     EarlyHarvest      Class
1      ItalianWine      Class
2       GermanWine      Class
3            Gamay      Class
4   FullBodiedWine      Class
5       FrenchWine      Class
6         RoseWine      Class
7      DessertWine      Class
8        SweetWine      Class
9   CaliforniaWine      Class
10       TexasWine      Class
11    AmericanWine      Class
12        Bordeaux      Class
13    AlsatianWine      Class
14           Loire      Class
15       WhiteWine      Class
16       TableWine      Class
17         DryWine      Class
18     LateHarvest      Class
19         RedWine      Class

CPU times: user 3.2 ms, sys: 20 Î¼s, total: 3.22 ms
Wall time: 3.19 ms

In [31]:
%%time

# 6. Get all properties that Wine class can have
command = """
MATCH (wine)-[:hasDomain]->(prop:Property)
WHERE wine.name = 'Wine'
RETURN prop.name, prop.property_type
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

           prop.name prop.property_type
0  hasWineDescriptor       DataProperty
1      madeFromGrape       DataProperty
2           hasColor       DataProperty

CPU times: user 2.87 ms, sys: 0 ns, total: 2.87 ms
Wall time: 2.83 ms

In [32]:
%%time

# 7. Find wine classes that have the most parent classes (complex definitions)
#command = """
#MATCH (wine)-[:subClassOf]->(parent)
#WHERE wine.type = 'Class'
#WITH wine.name AS wine_name, COUNT(parent) AS parent_count
#RETURN wine_name, parent_count
#ORDER BY parent_count DESC
#LIMIT 10
#"""
command = """
MATCH (wine)-[:subClassOf]->(parent)
WHERE wine.type = 'Class'
RETURN wine.name, parent.name
LIMIT 10
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

        wine.name parent.name
0    EarlyHarvest        Wine
1     ItalianWine        Wine
2      GermanWine        Wine
3           Gamay        Wine
4  FullBodiedWine        Wine
5      FrenchWine        Wine
6        RoseWine        Wine
7     DessertWine        Wine
8       SweetWine        Wine
9  CaliforniaWine        Wine

CPU times: user 3.05 ms, sys: 5 Î¼s, total: 3.05 ms
Wall time: 3.02 ms

In [33]:
%%time

# 8. Find all French wine types
command = """
MATCH (wine)-[:subClassOf]->(parent)
WHERE parent.name = 'FrenchWine'
RETURN wine.name
"""
df = client.query(command)
if df.empty:
    print("No result found")
else:
    display(df)

No result found
CPU times: user 968 Î¼s, sys: 0 ns, total: 968 Î¼s
Wall time: 965 Î¼s

In [34]:
print("Notebook finished !")

Notebook finished !